<% if product.errors.present? %>
  <div id="explanation" class="alert alert-danger my-3">
    <ul class="mb-0">
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
